<body>
	<div class="app">
		<div class="menu-toggle">
			<div class="hamburger">
				<span></span>
			</div>
		</div>

		<aside class="sidebar">
			<h2 class="text-light">Ticket</h2>
			
			<nav class="menu">
				<a routerLink="/dashboard" class="menu-item ">Dashboard</a>
                <!-- isactive -->
				@if(loggedData.role == "Department Head"){
					
					<a  routerLink="/employee" class="menu-item">Employee</a>
					<a routerLink="/department" class="menu-item">department</a>
				}
				<a routerLink="/tickets" class="menu-item">tiickets</a>
				<a routerLink="/new-tickets" class="menu-item">new-tickets</a>
			</nav>
			<div class="row">
				<div class="col-6 ">
					<div class="row">

						<button (click)="onlogOut()" type="button" class="btn btn-danger ">logout</button>
					</div>
				</div>
			</div>
		</aside>

		<main class="content">
			<router-outlet></router-outlet>
		</main>
	</div>

	
</body>