.container {
  border: 3px solid green;
  min-height: 100vh;
  width: full;
  padding: 5px;
}

.card {
  border: 2px solid yellow;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

.scrollable {
  max-height: 100vh;
  overflow-y: scroll;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

.scrollable {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

th {
  cursor: pointer;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  padding: 8px;
  transition: background-color 0.3s ease;
}

th:hover {
  background-color: #ccc;
}

.loader{
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}